textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.comentario {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.fecha {
    font-size: 13px;
    color: gray;
}

.eliminar {
    margin-top: 5px;
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
